*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #000000;
    font-family: 'open sans';
}

.contenedor{
    width: 90%;
    max-width:900px;
    margin: auto;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.item{
    width: 33%;
    height: 550px;
    margin: auto;
    border:1px solid #000000;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px  #000000;
    background-color: rgba(97, 93, 93, 0.633);
    padding: 60px;
    text-align: center;
    flex-grow: 1;
    color: #020203;
}

.item>h2{
    font-size:30px;
    margin-bottom:35px;
}

.item img{
    width: 64px;
    margin-bottom:35px;
}

.item > h3{
    font-size:30px;
    margin-bottom: 20px;
}

.item > p{
    display: block;
    margin-bottom:20px;
}

.item-boton{
    display:inline-block;
    width: 150px;
    padding:12px;
    background: #ffa723;
    text-decoration: none;
    color: #faf9f9;
    border-radius: 100px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin: auto;
}

.item:hover, .hover{
    background: #434ac8;
    color: #f1f1f2;
    transition: .5s all;
    transform: scale(1.1);
    cursor: pointer;
}

button {
    border: 0px;
}

@media screen and (max-width: 1000px){
    .item{
        width: 45%;
        max-width:none;
        margin-bottom: 40px;
        flex-grow: initial;
    }
}

@media screen and (max-width: 700px){
    .item{
        width: 45%;
        padding:30px;
    }
    .item > h2{
        margin-top:40px;
    }
}

@media screen and (max-width:550px){
    .item{
        width: 85%;
        padding: 20px;
    }
}